* {
  font-size: 62.5%;
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}

h3 {
  font-size: 2.9rem;
}

h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}

.App {
  text-align: center;
  margin: 0 auto;
  height:100%;
}

//Login Nav
.lognav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  background: white;
  height: 10rem;

  a {
    padding: 0 2rem 0 2rem;
    margin: 0 2rem 0 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    border-left: 1px solid white;
    border-right: 1px solid white;

    &:hover {
      border-left: 1px solid black;
      border-right: 1px solid black;
    }
  }
}

//Login Styling

.login-wrapper {
  margin: 5rem auto;
  padding: 5rem;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  box-shadow: 1px 1px 5px black;
  background-image: linear-gradient(to right,#6d6b6b, #a8a5a5, #f3f3f3 );

  i {
    font-size: 1.4rem;
    margin-right: 1rem;
  }

  input {
    border: 1px solid black;
    height: 5rem;
    width: 30rem;
    font-size: 1.6rem;
    margin: 1rem;
    padding: 1rem;
  }

  button {
    height: 5rem;
    width: 30rem;
    margin-left: 2.1rem;
    font-size: 1.8rem;
    border: 1px solid black;
    color:white;
    background: rgb(134, 181, 228);
    transition: 1s;

    &:hover {
      background: rgb(32, 173, 173);
      transition: 1s;
    }
  }
}

//Register Page Styling


.register-wrapper {
  margin: 5rem auto;
  padding: 5rem;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  background-image: linear-gradient(to right,#6d6b6b, #a8a5a5, #f3f3f3 );
  box-shadow: 1px 1px 5px black;
  i {
    font-size: 1.4rem;
    margin-right: 1rem;
  }
  input {
    border: 1px solid black;
    height: 5rem;
    width: 30rem;
    font-size: 1.6rem;
    margin: 1rem;
    padding: 1rem;
  }
  button {
    height: 5rem;
    width: 30rem;
    margin-left: 2.1rem;
    font-size: 1.6rem;
    border: 1px solid black;
    background: rgb(134, 181, 228);
    color: white;
    transition: 1s;
    &:hover {
      background: rgb(32, 173, 173);
      transition: 1s;
    }
  }
}


//Workout styling
.workouts-wrapper{
  min-height: 100vh;
  background-color:rgb(53, 53, 53);
  
  .innerworkout-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:5rem;
    h2{
      margin:0;
      padding:2rem;
      font-size: 4rem;
      color:white;
    }
    button{
      height: 2.5rem;
      width: 6rem;
      font-size: 1.2rem;
      border-radius: 10px;
    }
  }
  
  .workout-container {
      margin: 1rem auto 1rem;
      display: flex;
      border: 1px solid tomato;
      flex-direction: row;
      width: 70%;

    .workouts{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      color:white;
      text-decoration: none;
      width: 97%;
      margin-left: 2.5rem;
    }

    i {
      font-size: 2rem;
      color: white;
      margin-right: 1rem;
      margin-top: 1rem;
    }

    h4 {
      padding: 2rem;
      margin: 1rem 0;
      width: 50%;
      &:nth-child(1){
        border-right:1px solid tomato;
      }
    
    }
  }
}

// PostWorkouts styling

.postworkouts-wrapper {
  
  form{

    input {
      border: 1px solid black;
      font-size: 1.8rem;
      width:13%;
      padding: 2rem;
      
    }
    button {
      border: 1px solid black;
      font-size: 1.8rem;
      padding: 2rem;
      width: 13%;
      background: tomato;
      color: white;
    }
  }
}

//Exercises styling
.exercise-wrapper{
  min-height: 100vh;
  background-color: rgb(53, 53, 53);

  .innerexercise-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:5rem;
    
    h2{
      margin:0;
      padding:2rem;
      font-size: 4rem;
      color:white;
    }
    
    button{
      height: 2.5rem;
      width: 6rem;
      font-size: 1.2rem;
      border-radius: 10px;
      cursor: pointer;
    }
  }


  .exerciseContainer{
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid tomato;
    width: 50%;
    cursor: pointer;
    i {
      color: white;
      font-size: 2rem;
    }
    
    h4{
      color:white;
    }
  }
}

//PostExercises styling
.postexercise-wrapper{
  padding-top:2rem;
  
  form{
    display:flex;
    justify-content: center;
    height:5rem;
    align-items: flex-end; 
    input {
      border: 1px solid black;
      font-size: 1.8rem;
      width:13%;
      height:100%;
      padding-left: 2rem;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
    button {
      border: 1px solid black;
      font-size: 1.8rem;
      width: 13%;
      height:100%;
      background: tomato;
      color: white;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      cursor: pointer;
    }
  }
}

//Target area styling
.targetarea-wrapper{
  
  .targetarea-container{

    h4{
      color:white;
    }
  }
}

//Post target area styling

.posttargetarea-wrapper {
  margin:1rem;
  form{
    display:flex;
    justify-content: center;
    height:5rem;
    align-items: flex-end; 
    select{
      margin-top:2rem;
      border: 1px solid black;
      font-size: 1.8rem;
      width:13%;
      height:100%;
      padding-left: 2rem;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      cursor: pointer;
    }
    button {
      border: 1px solid black;
      font-size: 1.8rem;
      width: 13%;
      height:100%;
      background: tomato;
      color: white;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      cursor: pointer;
      &:focus {
        outline: none;
    }
    }
  }
}

//Sets styling
.sets-wrapper{

  .sets-container{

    h4{
      color:white;
    }
  }
}

//Post Sets styling
.postsets-wrapper {

  form{
    display:flex;
    justify-content: center;
    height:5rem;
    align-items: flex-end; 
    input {
      margin-top:2rem;
      border: 1px solid black;
      font-size: 1.8rem;
      width:13%;
      height:100%;
      padding-left: 2rem;
        &:nth-child(1){
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
      }
    }
    button {
      border: 1px solid black;
      font-size: 1.8rem;
      width: 13%;
      height:100%;
      background: tomato;
      color: white;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      cursor: pointer;
    }
  }
}

.hidden {
display: fixed;
overflow: hidden;
transition: 500ms;
max-height: 0;

}

.revealed {
  margin: 0 auto;
  transition: 500ms;
  padding: 1rem;
}